.animal-show{
    position: relative;
    border: 2px solid darkgray;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 0px 3px 4px lightgrey;
    font-family: "Comic Sans MS", cursive;
}
.animal{
    height: 100px;
}
